.container {
  margin: auto;
  padding: 32px 0;
  width: 900px;
  .title {
    padding: 8px 0;
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
  }

  .product-list-container {
    .product-list-table {
      border: 1px solid #D9DBDE;
      border-radius: 4px;
      overflow: hidden;

      .product-line {
        display: flex;
        align-items: center;
        padding: 16px 24px;
        height: 34px;

        &.header {
          background-color: #F5F5F5;

          .product-id {
            font-size: 18px;
          }
        }

        &:nth-child(n+2) {
          border-top: 1px solid #D9DBDE;
        }
        &:hover {
          background-color: #F5F5F5;
        }

        .product-id {
          width: 220px;
          font-size: 12px;
        }
        .product-name {
          width: 540px;
        }
        .button {
          width: 80px;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
  }
}
